<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="com.sa.happytrip.tests.pages.testListener"/>
</listeners>
  <parameter name="OS" value="Windows"/>
<parameter name="browser" value="Chrome"/>
  <test thread-count="5" name="Test">
    <classes>
     <!--  <class name="com.sa.happytrip.tests.testcases.TestCase_4"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_3"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_2"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_1"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_9"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_10"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_8"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_7"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_6"/>
      <class name="com.sa.happytrip.tests.testcases.TestCase_5"/> -->
       <class name="com.sa.happytrip.tests.pages.login_PageModel"/> 
      <class name="com.sa.happytrip.tests.testcases.ScheduleFlight_ExtentReport"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
